
@model Craps.Models.HomeModel

@using (Html.BeginForm("CreateUser", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.UserName)
    @Html.ValidationMessageFor(model => model.UserName)
    <button type="submit">Create New User</button>
}
